.App {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  background-color: lavender;
  padding: 50px 0px;
}

.container {
  height: 90%;
  width: 90%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
